.description_container {
   padding-left: 20px;
}

.container {
    display: inline-flex;
}

.error_msg {
    color: red;
}

.btn_container {
    padding-left: 20px;
}

.form_text {
    padding-right: 10px;
}